section{
    min-height: 100vh;
    background: -webkit-linear-gradient(top,rgba(6,41,68,0.541),rgba(110, 108, 41, 0.7)),url('/assets/login.jpg') no-repeat;
    background-size: cover;
}
.login-box {
    position: absolute;
    top:30%;
    left:82%;
    width: 350px;
    height: 40px;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.6) ;
    border-radius: 10px;
}
.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;

}

.login-box .user-box{

    position: relative;
}
.login-box .user-box input{

    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    
    border-bottom: 1px solid #fff;
    outline:none;
    background: transparent;
}
.login-box .user-box label{
    position: absolute;
    top:0;
    left:0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top:-20px;
    left:0;
    color: rgb(9, 126, 87);
    font-size: 12px;
}


.login-box form a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: rgb(231, 240, 237);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box a:hover{
    background:rgb(6, 95, 65) ;
    color:#fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(233, 236, 235)
    0 0 25px rgb(156, 158, 157)
    0 0 50px rgb(213, 214, 214)
    0 0 100px rgb(164, 168, 167);
}

.login-box a span{
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1){
    top: 0;
    left: -100%;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg,transparent,rgb(6, 112, 77));
    animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.login-box a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,rgb(6, 68, 47));
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}
@keyframes btn-anim2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.login-box a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,rgb(9, 126, 87));
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}
@keyframes btn-anim3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
.login-box a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,rgb(105, 212, 177));
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}
@keyframes btn-anim4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100% ;
    }
}
@keyframes shake{
    0%{transform: translateX(0);}
    20%{transform: translateX(-10px);}
    40%{transform: translateX(10px);}
    60%{transform: translateX(-10px);}
    80%{transform: translateX(10px);}
    100%{transform: translateX(0);}
}
input.invalid{
    border:2px solid red;
    animation: shake 0.5s;
    animation-iteration-count: 3;
}
.btn1{
    border: none;
    background-color: rgb(67, 131, 128);
    width: 100px;
    height: 30px;
    font-family: poppins;
    color: white;
}


/*  add user & update user template */
.form-title{
    margin-top: 2em;
}

.form-title > h2{
    padding: .5em 0;
}

.new_user{
    max-width: 786px;
    margin: auto;
}

#update_user .form-group,
#add_user .form-group{
    margin: .4em 0;
}

#update_user .form-group input[type="text"],
#add_user .form-group input[type="text"]{
    width: 100%;
    padding: .6em 1em;
    margin: .5em 0;
    border: 1px solid var(--border);
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    border-radius: .2em;
}

#data{
    margin-top: 6em;
    font-family: 'Barlow', sans-serif;
}


#data .container .box-nav > a{
    font-size: 1em;
    padding: .5em 1em;
}

#data .container form{
    margin: 2em 0;
}

table{
    border-spacing: 0px;
    width: 100%;
}

.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}

.table td > a.btn{
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
}

.table tr:hover{
    background-color:#d6b006 ;
}

.table tr:hover td > a{
    box-shadow: none;
}

.table .thead-dark th{
    color: #fff;
    background-color: var(--dark) ;
    border-color: #32383e;
}

@media only screen and (max-width: 1024px){
    table, thead, tbody, th, td, tr{
        display: block;
    }

    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid var(--border);}

    td{
        border: none;
        position: relative;
    }

}